body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: black;

}

h1{
    margin: 0;
    margin-bottom: 12px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.content{
    height: 400px  ;
    width: 650px;
    overflow: hidden;
    box-shadow: 1px;
}

.content .images{
    height: 100%;
    width: 100%;
    /* border: 2px solid gray; */
     
}
footer {
  text-align: center;
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
